[submodule "src/codomyrmex/dark/pdf/vendor/dark-pdf"]
	path = src/codomyrmex/dark/pdf/vendor/dark-pdf
	url = https://github.com/benjifriedman/dark-pdf
[submodule "src/codomyrmex/git_analysis/vendor/gitnexus"]
	path = src/codomyrmex/git_analysis/vendor/gitnexus
	url = https://github.com/abhigyanpatwari/GitNexus
